{% extends 'base.html' %}
{% load account socialaccount %}
{% load i18n %}

{% block content %}

<div class="register-area ptb-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 col-lg-offset-4">
                            <div class="login">
                                <div class="login-form-container">
                                    <div class="login-text">
                                        <h2>login</h2>
                                        <span>Please login using account detail bellow.</span>
                                    </div>
                                    <div class="login-form">
                                        <form action="{% url 'account_login' %}" method="post">
                                        {% csrf_token %}
                                            <input type="text" name="login" required placeholder="Username">
                                            <input type="password" name="password" required placeholder="Password">
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <input type="checkbox" name="remember" id="remember">
                                                    <label for="remember">Remember me</label>
                                                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                                                </div>
                                                <button type="submit" class="default-btn floatright">Login</button>
                                            </div>
                                          <br>
                                          <a href="/signup/">Create a new account</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

{% endblock content %}
